<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beautyclan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.beautyclan.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Desire"></activity>
        <activity android:name="Room"></activity>
        <activity android:name="ClassRoom"></activity>
        <activity android:name="RoxyPhnActivity"></activity>
        <activity android:name="CelebrateOcc"></activity>
        <activity android:name="Christmas"></activity>
        <activity android:name="EidDay"></activity>
        <activity android:name="FathersDay"></activity>
        <activity android:name="HomeSwHome"></activity>
        <activity android:name="MothersDay"></activity>
        <activity android:name="Office"></activity>
        <activity android:name="RelagiousOcc"></activity>
        <activity android:name="SeasonalBeauty"></activity>
        <activity android:name="Summer"></activity>
        <activity android:name="ValentinesDay"></activity>
        <activity android:name="Winter"></activity>
    </application>

</manifest>
